---
import PrimaryLayout from "@/layouts/primary-layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).slice(0, 4);
---

<PrimaryLayout>
  <div class="flex gap-2 mt-16 mb-2">
    <div class="transform origin-bottom-right animate-wave text-2xl w-min">
      👋
    </div>
    <span class="text-2xl font-medium">Hey there! I&apos;m Gilbert,</span>
  </div>

  <p class="text-lg leading-8">
    a high school student and self-taught software developer. I&apos;m
    interested in <span class="underline underline-offset-4">system design</span
    >, <span class="underline underline-offset-4">web development</span>, and <span
      class="underline underline-offset-4">machine learning</span
    >. I love exploring new technologies and building random doodads in my free
    time.
  </p>

  <section class="mt-20 flex flex-col">
    <h2 class="font-medium">
      <span class="text-2xl">Click</span>
      <span class="text-xl">clack</span>
      <span class="text-lg">clickety</span>
      <span>clackety</span>
    </h2>
    <p class="text-muted-foreground mb-2">What I&apos;ve been working on</p>

    <div class="mt-2 flex flex-col gap-2 md:gap-10 md:grid grid-cols-2">
      {
        projects.map(({ data: project, slug }) => (
          <div class="p-4 -mx-4 hover:bg-muted mb-1 rounded-md duration-500">
            <a href={`/projects/${slug}`} class="block">
              <Image
                src={project.images[0]}
                alt="Image of project"
                class="rounded-md mb-2"
              />

              <h3 class="text-lg font-medium">{project.name}</h3>
              <p class="text-muted-foreground">{project.description}</p>
              <div class="flex gap-1">
                {project.technologies.map((name, i) => (
                  <>
                    <span class="inline-block text-muted-foreground">
                      {name}
                    </span>
                    {i !== project.technologies.length - 1 && <span>·</span>}
                  </>
                ))}
              </div>
            </a>
          </div>
        ))
      }
    </div>

    <a
      href="/projects"
      class="ml-auto text-lg text-muted-foreground hover:underline hover:text-foreground"
      >View all</a
    >
  </section>
</PrimaryLayout>
